@font-face {
    font-family: "Oswald";
    src: url("../css/static/Oswald-Regular.ttf");
}
@font-face {
    font-family: "Oswald-light";
    src: url("../css/static/Oswald-Light.ttf");
}
@font-face {
    font-family: "Oswald-bold";
    src: url("../css/static/Oswald-Bold.ttf");
}
@font-face {
    font-family: "Oswald-semibold";
    src: url("../css/static/Oswald-SemiBold.ttf");
}
html {font-family: Oswald-light,Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;}
body {background-color: #C5CAE9;}
nav a.sidenav-trigger {display: block;height: 44px;}
table {margin: 10px 0px 0px 0px;}
td, th{padding: 0px; color: #252525;}
td {font-family: Owald-light; color: #757575;}
/* label color */
.input-field label {color: #252525;}
.input-field .prefix {color: #252525;}
.input-field{margin-top: .5rem;margin-bottom: .5rem;}
.input-field input[type=text], .input-field input[type=password]{
    border-bottom: 1px solid #757575;
    box-shadow: 0 1px 0 0 #757575;
}
div#container-panel {padding-top: 2rem;}
.breadcrumb, .brand-logo{font-family: Oswald-bold;}
.card-panel.filters {padding: 10px 10px 3px 10px;margin: .3rem 0 0 0;}
.card-title,.collection-header > h6{font-family: Oswald-semibold; color: #2196F3;}
.row{margin-bottom: 2px;}